h1 {text-align: center; font-size: 45px; font-family: Comic Sans MS; color: #007848}
body {background: #a3e9a4}
h2 {font-family: Comic Sans MS; text-decoration: underline; font-size: 30px; color: #007848; margin-left: 15px}
h3 {text-align: left; font-family: Comic Sans MS; color: #007848; font-size: 20px}
sus {font-family: Comic Sans MS; color: green; font-size: 17px}
txt {font-family: Comic Sans MS; font-size: 17px}
oo {text-align: right}